/* Fondo animado con gradiente */
@keyframes gradientBackground {
    0% {
        background: linear-gradient(45deg, #61dfff, #4690cc);
    }
    50% {
        background: linear-gradient(45deg, #a5d4ba, #30829b);
    }
    100% {
        background: linear-gradient(45deg, #61d2ff, #8bb48f);
    }
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(45deg, #61e7ff, #a5d4b8);
    background-size: 400% 400%;
    animation: gradientBackground 10s ease infinite;
}

.game-container {
    text-align: center;
    background: #ffffff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 800px;
}

h1 {
    color: #00796b;
}

/* Estilo para la imagen principal */
.main-image {
    width: 100%;
    max-width: 400px; /* Tamaño máximo de la imagen */
    height: auto;
    margin: 20px 0;
    border-radius: 10px; /* Bordes redondeados */
}

button {
    padding: 12px 24px;
    margin: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: #00796b;
    color: white;
    font-size: 18px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #004d40;
}

.hidden {
    display: none;
}

.levels {
    margin-top: 20px;
}

#question-container {
    margin-top: 20px;
    background: #ffffff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#question-text {
    font-size: 18px;
    color: #333;
}

#answer-input {
    padding: 10px;
    margin-top: 10px;
    border: 2px solid #00796b;
    border-radius: 8px;
    font-size: 18px;
    width: calc(100% - 22px);
}

#navigation {
    margin-top: 20px;
}

#result {
    margin-top: 20px;
    font-size: 20px;
    color: #00796b;
}
