body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(45deg, #61e7ff, #a5d4b8);
    background-size: 400% 400%;
    animation: gradientBackground 10s ease infinite;
}

.game-container {
    text-align: center;
    background: #e4e70e;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 800px;
}

h1 {
    color: #11ce9f;
}

.main-image {
    width: 100%;
    max-width: 200px;
    height: auto;
    margin: 20px 0;
    border-radius: 10px;
}

#menu { /*esto es de los grados menu*/
    margin-top: 20px;
}

.grade-buttons {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 15px; /* Espaciado entre los botones */
}

button {
    padding: 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: #004379;
    color: white;
    font-size: 16px;
    transition: background-color 0.3s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra para efecto de elevación */
}

button:hover {
    background-color: #0c6858;
    transform: scale(1.05); /* Agrandar un poco al pasar el mouse yes */
}


button {
    padding: 12px 24px;
    margin: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: #00796b;
    color: rgb(238, 223, 223);
    font-size: 18px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #004d40;
}

.hidden {
    display: none;
}

#question-container {
    margin-top: 20px;
    background: #faefef;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#question-text {
    font-size: 18px;
    color: #333;
}

#answer-input {
    padding: 10px;
    margin-top: 10px;
    border: 2px solid #00796b;
    border-radius: 8px;
    font-size: 18px;
    width: calc(100% - 22px);
}

#navigation {
    margin-top: 20px;
}

#result {
    margin-top: 20px;
    font-size: 20px;
    color: #00796b;
}

.marca {
    position: fixed;
    top: 10px;  /* Ajusta la distancia desde la parte superior */
    left: 10px;  /* Cambia a `right` para asegurarte de que se quede en la esquina derecha */
    width: 80px;  /* Ajusta el tamaño según el dispositivo */
    opacity: 0.8;  /* Efecto de opacidad */
    z-index: 1000;  /* Asegura que esté por encima de otros elementos */
}

@media screen and (max-width: 768px) {
    /* Para pantallas más pequeñas como tablets y móviles */
    .marca {
        top: 5px;   /* Reduce el margen superior en móviles */
        right: 5px;  /* Ajusta el margen derecho para evitar que se mueva al centro */
        width: 60px; /* Ajusta el tamaño de la imagen para pantallas pequeñas */
    }
}

